{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in a circle around it.
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - secondary-stat {Object} : the secondary stat object
 - secondary-reference (String} : the name of the secondary name value. Used by FVTT to save the seondary stat value to the System
  - checkbox {Object} : the checkbox object
 - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
 }}
<div class="main-stat flexcol">
    <label for={{reference}}>{{localize stat.label}}</label>
    <div class="main-stat-value table-main-column">
        {{#if secondary-stat}}
            <div class="secondary-stat flexcol">
                {{#if secondary-reference}}
                    <input id={{secondary-reference}} name={{secondary-reference}} type="text"
                           value="{{secondary-stat.value}}" data-dtype="{{secondary-stat.type}}"/>
                    <label for={{secondary-reference}}>{{localize secondary-stat.label}}</label>
                {{else}}
                    <p class="item-value {{#if secondary-css-class}} {{secondary-css-class}} {{/if}} ">{{secondary-stat-value}}</p>
                    <p class="item item-name" data-item-id="{{secondary-stat._id}}">{{secondary-stat.name}}
                        <a class="item-delete" title="{{ localize 'tor1e.sheet.item.delete' }}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </p>
                {{/if}}
            </div>
        {{/if}}
        <input id={{reference}} name={{reference}} type="text" value="{{stat.value}}"
               data-dtype="{{stat.type}}"/>
        {{#if checkbox}}
            <div class="checkbox flexcol" id="weary">
                <label for="{{checkbox-reference}}">{{localize checkbox.label}}</label>
                <input type="checkbox" id="{{checkbox-reference}}" name="{{checkbox-reference}}"
                       data-dtype="{{checkbox.type}}" {{checked checkbox.value}} />
            </div>
        {{/if}}
    </div>
</div>