{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in a circle around it.
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - secondary-stat {Object} : the secondary stat object
 - secondary-stat-value {Number} : stat object (only for item type element)
 - secondary-css-class (String} : a css class to add to the secondary stat value box.
 }}
<div class="flexcol">
    <div class="attribute-table-caption">
        <p class="label">{{localize stat.label}}</p>
    </div>
    <div class="flexrow attribute-table-value">
            <label for={{reference}}>
                <input id={{reference}} name={{reference}} type="text" value="{{stat.value}}"
                       data-dtype="{{stat.type}}"/>
            </label>
        {{#if secondary-stat}}
            <div class="secondary-stat flexcol">
                <p class="item-value {{#if secondary-css-class}} {{secondary-css-class}} {{/if}} ">{{secondary-stat-value}}</p>
                <p class="item item-name" data-item-id="{{secondary-stat._id}}">{{secondary-stat.name}}
                    <a class="item-delete" title="{{ localize 'tor1e.sheet.item.delete' }}">
                        <i class="fas fa-trash"></i>
                    </a>
                </p>
            </div>
        {{/if}}
    </div>
</div>