{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in a circle around it.
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - secondary-stat {Object} : the secondary stat object
 - secondary-reference (String} : the name of the secondary name value. Used by FVTT to save the seondary stat value to the System
  - checkbox {Object} : the checkbox object
 - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
 }}
<div class="main-stat-value table-main-column">
    {{#if secondary-stat}}
        <div class="secondary-stat flexcol" data-item-id="{{secondary-stat._id}}">
            <p class="item-value {{secondary-css-class}}">{{secondary-stat-value}}</p>
            <p class="item item-name" data-item-id="{{secondary-stat._id}}">{{secondary-stat.name}}
                <a class="item-delete" title="{{ localize 'tor1e.sheet.item.delete' }}">
                    <i class="fas fa-trash"></i>
                </a>
            </p>
        </div>
    {{/if}}
    {{#if stat}}
        <div class="flexrow" data-item-id="{{stat._id}}">
            <p class="item item-name" data-item-id="{{stat._id}}">{{stat.name}}
                <a class="item-delete" title="{{ localize 'tor1e.sheet.item.delete' }}">
                    <i class="fas fa-trash"></i>
                </a>
            </p>
            <p class="item-value {{css-class}}">{{stat-value}}</p>
        </div>
    {{/if}}
</div>