{{! This component is used to display and save a Simple Skill in an Actor, with a checkbox side of it (favoured)
Parameters :
 - skill : skill object
 - reference : the skill name value. Used by FVTT to save the skill value to the System
  - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System

 }}
<div class="flexrow">
    <div class="stat flexcol">
        <div class="flexrow">
            <label class="skill-label" for="{{reference}}">{{localize skill.label}}</label>
            <div class="actions">
                <a class="skill-roll" title="{{ localize 'tor1e.sheet.skill.roll' }}" data-action-name="{{localize skill.label}}"
                   data-action-value="{{skill.value}}" data-action-favoured={{skill.favoured.value}}>
                    <i class="fas fa-dice"></i>
                </a>
            </div>
        </div>
        <div>
            <input id="{{reference}}" name="{{reference}}" type="text"
                   value="{{skill.value}}"
                   data-dtype="{{skill.type}}"/>
            <div class="sibling flexcol">
                <label for="{{checkbox-reference}}">{{localize "tor1e.actors.skills.favoured"}}</label>
                <input type="checkbox" id="{{checkbox-reference}}" name="{{checkbox-reference}}"
                       data-dtype="{{skill.favoured.type}}" {{checked skill.favoured.value}} />
            </div>
        </div>
    </div>
</div>