{{! This component is used to display a Complex Stat in an Actor, display as a big circle, possibly with a szecondary stat in a circle around it.
Parameters :
- stat {Object} : stat object
- reference {String} : the stat name value. Used by FVTT to save the stat value to the System
- checkbox {Object} : the checkbox object
- checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
}}
<div class="complex-stat flexrow">
    <div class="main-stat flexcol">
        <label for={{reference}}>{{localize stat.label}}</label>
        <div class="main-stat-value flexrow">
            <input id={{reference}} name={{reference}} type="text" value="{{stat.value}}"
                   data-dtype="{{stat.type}}"/>
            {{#if checkbox}}
                <div class="checkbox">
                    <label for="{{checkbox-reference}}">{{localize checkbox.label}}
                        <input type="checkbox" id="{{checkbox-reference}}" name="{{checkbox-reference}}"
                               data-dtype="{{checkbox.type}}" {{checked checkbox.value}} />
                    </label>
                </div>
            {{/if}}
        </div>
    </div>
</div>