{{! This component is used to display a Simple Stat in an Actor, possibly with a checkbox side of it
Parameters :
 - stat {Object} : stat object
 - reference {String} : the stat name value. Used by FVTT to save the stat value to the System
 - checkbox {Object} : the checkbox object
 - checkbox-reference (String} : the name of the checkbox object value. Used by FVTT to save the checkbox value to the System
 }}
<div id="{{reference}}" class="stat">
    <label for="{{reference}}">{{localize stat.label}}</label>
    <div>
        <input id="{{reference}}" name="{{reference}}" type="text" value="{{stat.value}}"
               data-dtype="{{stat.type}}"/>
        {{#if checkbox}}
            <div class="sibling flexcol" id="weary">
                <label for="{{checkbox-reference}}">{{localize checkbox.label}}</label>
                <input type="checkbox" id="{{checkbox-reference}}" name="{{checkbox-reference}}"
                       data-dtype="{{checkbox.type}}" {{checked checkbox.value}} />
            </div>
        {{/if}}
    </div>
</div>