<header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"
         alt="{{ localize 'tor1e.actors.details.tech.alt' }}"/>
    <h1><label>
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
    </label></h1>
</header>