<li class="trait-item item speciality-name" data-item-id="{{_id}}">
    <div class="header">
        <div class="heading">
            <label for="{{_id}}-node{{@index}}">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.traits.details.tech.alt'}}"/>
            </label>
            <span>{{name}}</span>
        </div>
        <div class="actions">
            <a class="item-delete" title=""{{tor1e.sheet.deleteSkill}}>
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <input type="checkbox" id="{{_id}}-node{{@index}}"/>
    <div class="item-summary trait-info speciality-description">
        <p>{{{data.description.value}}}</p>
    </div>
</li>
