<li class="skill-item item" data-item-id="{{_id}}">
    <div class="header">
        <div class="heading">
            <label for="{{_id}}-node{{@index}}">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
            </label>
            <div class="stat-value">
                <label class="main-label" for="data.value">{{name}}</label>
                <input id="data.value" class="inline-edit" name="data.value" type="text" data-field="data.value" value="{{data.value}}"
                       data-dtype="{{data.type}}"/>
            </div>
            <input class="inline-edit" type="checkbox" id="data.favoured.value" data-field="data.favoured.value" name="data.favoured.value"
                   data-dtype="{{data.favoured.type}}" {{checked data.favoured.value}} />
            <label for="data.favoured.value">{{localize "tor1e.actors.skills.favoured"}}</label>
        </div>
        <div class="actions">
            <a class="item-roll" title="{{ localize 'tor1e.sheet.skill.roll' }}" data-action-name="{{name}}" data-action-value="{{data.value}}" data-action-favoured="{{data.favoured.value}}">
                <i class="fas fa-dice"></i>
            </a>
            <a class="item-chat" title="{{ localize 'tor1e.sheet.skill.chat' }}">
                <i class="fas fa-comment-dots"></i>
            </a>
            <a class="item-delete" title="{{ localize 'tor1e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <input type="checkbox" id="{{_id}}-node{{@index}}"/>
    <div class="skill-info skill-description">
        <p>{{{data.description.value}}}</p>
    </div>
</li>