{{log "Weapon" this}}
<li class="skill-item item" data-item-id="{{_id}}">
    <div class="header table-row flexrow">
        <div class="heading table-main-column flexrow">
            <label for="{{_id}}-node{{@index}}">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
            </label>
            <p class="object-name">{{name}}</p>
        </div>
        <div class="flexrow">
            <input id="data.skill.value" class="inline-edit table-attribute" name="data.skill.value" type="text" data-field="data.skill.value"
                   value="{{data.skill.value}}"
                   data-dtype="{{data.skill.type}}"/>
            <div class="flexcol">
                <input class="inline-edit" type="checkbox" id="data.skill.favoured.value" data-field="data.skill.favoured.value"
                       name="data.skill.favoured.value"
                       data-dtype="{{data.skill.favoured.type}}" {{checked data.skill.favoured.value}} />
                <label for="data.skill.favoured.value">{{localize "tor1e.actors.skills.favoured"}}</label>
            </div>
        </div>
        <div>
            <input id="data.damage.value" class="table-attribute" name="data.damage.value" type="text" value="{{data.damage.value}}"
                   data-dtype="{{data.damage.type}}"/>
        </div>
        <div>
            <input id="data.edge.value" class="table-attribute" name="data.edge.value" type="text" value="{{data.edge.value}}"
                   data-dtype="{{data.edge.type}}"/>
        </div>
        <div>
            <input id="data.injury.value" class="table-attribute" name="data.injury.value" type="text" value="{{data.injury.value}}"
                   data-dtype="{{data.injury.type}}"/>
        </div>
        <div class="actions">
            <a class="item-roll" title="{{ localize 'tor1e.sheet.skill.roll' }}" data-action-name="{{name}}" data-action-value="{{data.skill.value}}">
                <i class="fas fa-dice"></i>
            </a>
            <a class="item-chat" title="{{ localize 'tor1e.sheet.skill.chat' }}">
                <i class="fas fa-comment-dots"></i>
            </a>
            <a class="item-delete" title="{{ localize 'tor1e.sheet.skill.delete' }}">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <input type="checkbox" id="{{_id}}-node{{@index}}"/>
    <div class="flexcol">
        <div class="flexcol">
            <div class="flexrow">
                <p class="table-caption">{{localize "tor1e.weapons.details.group"}}</p>
                <p class="table-caption">{{localize "tor1e.weapons.details.calledShot"}}</p>
                <p class="table-caption">{{localize "tor1e.weapons.details.notes"}}</p>
            </div>
            <div class="flexrow">
                <p class="table-attribute">{{data.group.value}}</p>
                <p class="table-attribute">{{data.calledShot.value}}</p>
                <p class="table-attribute">{{data.notes.value}}</p>
            </div>
        </div>
        <div class="skill-info skill-description flexcol">
            <h3>{{localize "tor1e.common.description"}}</h3>
            <p>{{{data.description.value}}}</p>
        </div>
    </div>
</li>