@import "../variables.less";

.tor1e.sheet.actor {

  input[type="checkbox"] {
    flex: 0 0 20px;
    width: auto;
    height: auto;
    margin: 0.1em;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .sheet-header {

    img {
      flex: 0 0 100px;
      width: 100px;
      height: 100px;
    }

  }

  .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .central {
      flex: 4;

      .attributes {
        justify-content: space-around;
      }

    }

    .complex-stat {
      justify-content: center;
    }

    .main-stat {
      align-items: center;

      label, .label {
        font-weight: bold;
        font-size: @large;
        margin-bottom: 0.25em;

        a {
          font-size: initial;
        }
      }

      .main-stat-value {

        position: relative;

        .checkbox {

          label {
            font-size: @small;
            font-weight: initial;
          }

          input[type="checkbox"] {
            width: auto;
            height: auto;
          }
        }
      }

      .item-name {
        min-width: fit-content;
      }

      input, .item-value {
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        border: double black;
        padding: 0.25em;
        font-size: @large;
        box-sizing: content-box;
      }

      .secondary-stat {

        label, .item-name {
          position: absolute;
          right: -4.5em;
          top: 3.5em;
          font-size: @small;
          font-weight: initial;
          min-width: fit-content;
        }

        input, .item-value {
          position: absolute;
          right: -1em;
          background: beige repeat;
          text-align: center;
          border-radius: 50%;
          border: solid black;
          padding: 0.15em;
          font-size: initial;
          box-sizing: content-box;
        }
      }

      .tertiary-stat {

        label {
          position: absolute;
          right: -4.5em;
          top: 6.5em;
          font-size: @small;
          font-weight: normal;
        }

        input {
          position: absolute;
          right: -1em;
          bottom: 0;
          background: beige repeat;
          text-align: center;
          border-radius: 50%;
          border: solid black;
          padding: 0.15em;
          font-size: @normal;
          box-sizing: content-box;
        }
      }
    }

    .stat-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 0.5em;
    }

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        text-transform: uppercase;
        font-size: @large;
      }

      .skill-label {
        font-weight: bold;
        font-size: initial;
      }

      input {
        text-align: center;
        width: 4em;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        label {
          font-size: @small;
        }
      }

      .sibling {

        margin-left: 0.1em;

        label {
          text-transform: lowercase;
          font-size: @small;
        }

        input[type=checkbox] {
          width: auto;
        }
      }
    }

    .skill-groups {
      .stat {
        margin-bottom: 2.35em;
      }
    }

    .table-main-column, .object-name {
      flex: 3;
    }

    .table-caption {
      font-weight: bold;
      text-align: center;
    }

    .table-row {
      text-align: center;
    }

    .table-attribute {
      width: 3em;
      text-align: center;
    }

    .editor {
      min-height: 50px;
      height: 100%;
    }

    .attribute-table-caption {
      text-align: center;

      label, p {
        margin: 0.5em 0 0 0;
        text-transform: uppercase;
        font-size: @large;
      }
    }

    label.favoured {
      display: inline;
      text-transform: lowercase;
      font-size: @small;

      input[type="checkbox"] {
        width: auto;
        height: auto;
      }
    }

    .dice {
      align-self: center;
    }

    .dice::after {
      content: "D";
    }

    .bonus {
      align-self: center;
    }

    .bonus::before {
      content: "+";
    }

    .attribute-table-value {
      position: relative;
      justify-content: center;
      text-align: center;

      .secondary-stat {
        position: absolute;
        right: 2.5em;
      }

      label {
        text-align: center;
        margin-right: 0.2em;

        input {
          text-align: center;
          width: 4em;
        }
      }

      .item-value {
        padding: 0.5em;
        border: 1px solid black;
        width: fit-content;
        margin: 0;
      }

      .main {
        text-align: center;
        margin-right: 0.2em;
      }

      .accessory {
        text-align: center;
        margin-left: 0.2em;
      }
    }
  }

  .state-of-health-sidebar {
    align-items: flex-end;
    display: flex;

    .state-of-health-item {
      align-items: center;
    }
  }

  .flexrow > h2, .flexcol > h2 {
    flex: 0;
  }
}