.tor1e.sheet {

  .collapsibleList {
    padding-inline-start: 0;
    list-style-type: none;

    li {
      margin-bottom: 0.2em;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
          display: flex;
          align-items: center;

          span {
            margin-left: 1em;
          }
        }

        .heading {
          display: flex;
          align-items: center;

          .stat-value {
            display: flex;
            min-width: 15em;
            justify-content: space-between;

            .main-label {
              font-weight: bold;
            }

            input[type=text] {
              width: 3em;
              font-weight: bold;
              text-align: center;
            }
          }

          label {
            cursor: pointer;
          }

          img {
            width: auto;
            border-style: none;
            margin: 0 0.25em;
            max-width: unset;
          }

          span {
            font-weight: bold;
          }

        }
      }
    }

    li > input + * {
      display: none;
    }

    li > input:checked + * {
      display: block;
    }

    li > input {
      display: none;
    }

  }
}
