.tor1e.sheet.item {
  form {
    display: flex;
    flex-direction: column;
  }

  .sheet-header {
    img {
      width: auto;
    }
  }

  .sheet-content {
    height: 100%;
    display: flex;
    flex-direction: column;

    .editor {
      min-height: 50px;
      height: 100%;
    }
  }
}

.weapon-details-container {
  display: flex; /* or inline-flex */
  justify-content: space-around;
}