.tor1e.sheet .collapsibleList {
  padding-inline-start: 0;
  list-style-type: none;
}
.tor1e.sheet .collapsibleList li {
  margin-bottom: 0.2em;
}
.tor1e.sheet .collapsibleList li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tor1e.sheet .collapsibleList li .header label {
  display: flex;
  align-items: center;
}
.tor1e.sheet .collapsibleList li .header label span {
  margin-left: 1em;
}
.tor1e.sheet .collapsibleList li .header .heading {
  display: flex;
  align-items: center;
}
.tor1e.sheet .collapsibleList li .header .heading .stat-value {
  display: flex;
  min-width: 15em;
  justify-content: space-between;
}
.tor1e.sheet .collapsibleList li .header .heading .stat-value .main-label {
  font-weight: bold;
}
.tor1e.sheet .collapsibleList li .header .heading .stat-value input[type=text] {
  width: 3em;
  font-weight: bold;
  text-align: center;
}
.tor1e.sheet .collapsibleList li .header .heading label {
  cursor: pointer;
}
.tor1e.sheet .collapsibleList li .header .heading img {
  width: auto;
  border-style: none;
  margin: 0 0.25em;
  max-width: unset;
}
.tor1e.sheet .collapsibleList li .header .heading span {
  font-weight: bold;
}
.tor1e.sheet .collapsibleList li > input + * {
  display: none;
}
.tor1e.sheet .collapsibleList li > input:checked + * {
  display: block;
}
.tor1e.sheet .collapsibleList li > input {
  display: none;
}
.tor1e.sheet.item form {
  display: flex;
  flex-direction: column;
}
.tor1e.sheet.item .sheet-header img {
  width: auto;
}
.tor1e.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tor1e.sheet.item .sheet-content .editor {
  min-height: 50px;
  height: 100%;
}
.weapon-details-container {
  display: flex;
  /* or inline-flex */
  justify-content: space-around;
}
.tor1e.sheet.actor input[type="checkbox"] {
  flex: 0 0 20px;
  width: auto;
  height: auto;
  margin: 0.1em;
}
.tor1e.sheet.actor form {
  display: flex;
  flex-direction: column;
}
.tor1e.sheet.actor .sheet-header img {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
}
.tor1e.sheet.actor .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.tor1e.sheet.actor .sheet-content .central {
  flex: 4;
}
.tor1e.sheet.actor .sheet-content .central .attributes {
  justify-content: space-around;
}
.tor1e.sheet.actor .sheet-content .complex-stat {
  justify-content: center;
}
.tor1e.sheet.actor .sheet-content .main-stat {
  align-items: center;
}
.tor1e.sheet.actor .sheet-content .main-stat label,
.tor1e.sheet.actor .sheet-content .main-stat .label {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.25em;
}
.tor1e.sheet.actor .sheet-content .main-stat label a,
.tor1e.sheet.actor .sheet-content .main-stat .label a {
  font-size: initial;
}
.tor1e.sheet.actor .sheet-content .main-stat .main-stat-value {
  position: relative;
}
.tor1e.sheet.actor .sheet-content .main-stat .main-stat-value .checkbox label {
  font-size: 0.75em;
  font-weight: initial;
}
.tor1e.sheet.actor .sheet-content .main-stat .main-stat-value .checkbox input[type="checkbox"] {
  width: auto;
  height: auto;
}
.tor1e.sheet.actor .sheet-content .main-stat .item-name {
  min-width: fit-content;
}
.tor1e.sheet.actor .sheet-content .main-stat input,
.tor1e.sheet.actor .sheet-content .main-stat .item-value {
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  border: double black;
  padding: 0.25em;
  font-size: 1.5em;
  box-sizing: content-box;
}
.tor1e.sheet.actor .sheet-content .main-stat .secondary-stat label,
.tor1e.sheet.actor .sheet-content .main-stat .secondary-stat .item-name {
  position: absolute;
  right: -4.5em;
  top: 3.5em;
  font-size: 0.75em;
  font-weight: initial;
  min-width: fit-content;
}
.tor1e.sheet.actor .sheet-content .main-stat .secondary-stat input,
.tor1e.sheet.actor .sheet-content .main-stat .secondary-stat .item-value {
  position: absolute;
  right: -1em;
  background: beige repeat;
  text-align: center;
  border-radius: 50%;
  border: solid black;
  padding: 0.15em;
  font-size: initial;
  box-sizing: content-box;
}
.tor1e.sheet.actor .sheet-content .main-stat .tertiary-stat label {
  position: absolute;
  right: -4.5em;
  top: 6.5em;
  font-size: 0.75em;
  font-weight: normal;
}
.tor1e.sheet.actor .sheet-content .main-stat .tertiary-stat input {
  position: absolute;
  right: -1em;
  bottom: 0;
  background: beige repeat;
  text-align: center;
  border-radius: 50%;
  border: solid black;
  padding: 0.15em;
  font-size: 1em;
  box-sizing: content-box;
}
.tor1e.sheet.actor .sheet-content .stat-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5em;
}
.tor1e.sheet.actor .sheet-content .stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tor1e.sheet.actor .sheet-content .stat label {
  text-transform: uppercase;
  font-size: 1.5em;
}
.tor1e.sheet.actor .sheet-content .stat .skill-label {
  font-weight: bold;
  font-size: initial;
}
.tor1e.sheet.actor .sheet-content .stat input {
  text-align: center;
  width: 4em;
}
.tor1e.sheet.actor .sheet-content .stat div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tor1e.sheet.actor .sheet-content .stat div label {
  font-size: 0.75em;
}
.tor1e.sheet.actor .sheet-content .stat .sibling {
  margin-left: 0.1em;
}
.tor1e.sheet.actor .sheet-content .stat .sibling label {
  text-transform: lowercase;
  font-size: 0.75em;
}
.tor1e.sheet.actor .sheet-content .stat .sibling input[type=checkbox] {
  width: auto;
}
.tor1e.sheet.actor .sheet-content .skill-groups .stat {
  margin-bottom: 2.35em;
}
.tor1e.sheet.actor .sheet-content .table-main-column,
.tor1e.sheet.actor .sheet-content .object-name {
  flex: 3;
}
.tor1e.sheet.actor .sheet-content .table-caption {
  font-weight: bold;
  text-align: center;
}
.tor1e.sheet.actor .sheet-content .table-row {
  text-align: center;
}
.tor1e.sheet.actor .sheet-content .table-attribute {
  width: 3em;
  text-align: center;
}
.tor1e.sheet.actor .sheet-content .editor {
  min-height: 50px;
  height: 100%;
}
.tor1e.sheet.actor .sheet-content .attribute-table-caption {
  text-align: center;
}
.tor1e.sheet.actor .sheet-content .attribute-table-caption label,
.tor1e.sheet.actor .sheet-content .attribute-table-caption p {
  margin: 0.5em 0 0 0;
  text-transform: uppercase;
  font-size: 1.5em;
}
.tor1e.sheet.actor .sheet-content label.favoured {
  display: inline;
  text-transform: lowercase;
  font-size: 0.75em;
}
.tor1e.sheet.actor .sheet-content label.favoured input[type="checkbox"] {
  width: auto;
  height: auto;
}
.tor1e.sheet.actor .sheet-content .dice {
  align-self: center;
}
.tor1e.sheet.actor .sheet-content .dice::after {
  content: "D";
}
.tor1e.sheet.actor .sheet-content .bonus {
  align-self: center;
}
.tor1e.sheet.actor .sheet-content .bonus::before {
  content: "+";
}
.tor1e.sheet.actor .sheet-content .attribute-table-value {
  position: relative;
  justify-content: center;
  text-align: center;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value .secondary-stat {
  position: absolute;
  right: 2.5em;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value label {
  text-align: center;
  margin-right: 0.2em;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value label input {
  text-align: center;
  width: 4em;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value .item-value {
  padding: 0.5em;
  border: 1px solid black;
  width: fit-content;
  margin: 0;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value .main {
  text-align: center;
  margin-right: 0.2em;
}
.tor1e.sheet.actor .sheet-content .attribute-table-value .accessory {
  text-align: center;
  margin-left: 0.2em;
}
.tor1e.sheet.actor .state-of-health-sidebar {
  align-items: flex-end;
  display: flex;
}
.tor1e.sheet.actor .state-of-health-sidebar .state-of-health-item {
  align-items: center;
}
.tor1e.sheet.actor .flexrow > h2,
.tor1e.sheet.actor .flexcol > h2 {
  flex: 0;
}
.message-content div > input + * {
  display: none;
}
.message-content div > input:checked + * {
  display: block;
}
.message-content div > input {
  display: none;
}
.success {
  color: darkgreen;
}
.failure {
  color: crimson;
}
