{{log "Roll Dice Message" this}}
<div class="dice-roll">
    <div class="skill-roll-item item flexcol">
        <div class="header flexrow">
            <div class="sidebar">
                <img src="{{flavor.owner.img}}" title="{{flavor.owner.name}}" height="125" width="100"
                     alt="{{localize 'tor1e.skills.details.tech.alt'}}"/>
            </div>
            <div class="main flexcol">
                <div class="headings">
                    <h4>{{flavor.owner.name}}</h4>
                </div>
                <div class="roll-type flexcol">
                    <p>
                        {{localize "tor1e.actions.test"}}: {{flavor.action}}
                    </p>
                    <p>
                        {{localize "tor1e.roll.difficulty"}}: {{difficulty}}
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="dice-result">
        <div class="dice-formula">{{formula}}</div>
        {{{tooltip}}}
        <h4 class="dice-total">{{localize "tor1e.actions.roll"}}: <span class="{{result.cssClass}}">{{customTotal}} - {{localize
                result.message}}</span>
        </h4>
    </div>
</div>