{{log "Armour" this}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" alt="{{localize 'tor1e.traits.details.tech.alt'}}"/>
        <h1><label>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </label></h1>
    </header>
    <label for="data.protection.value">{{localize data.protection.label}} :
        <input name="data.protection.value" type="text" value="{{data.protection.value}}" data-dtype="{{data.protection.type}}"/>
    </label>
    <label for="data.encumbrance.value">{{localize data.encumbrance.label}} :
        <input name="data.encumbrance.value" type="text" value="{{data.encumbrance.value}}" data-dtype="{{data.encumbrance.type}}"/>
    </label>
    <div class="sheet-content">
        <label>{{localize data.group.label}}:
            <select name="data.group.value">
                {{#select data.group.value}}
                    {{#each config.armourGroups as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </label>
        <p>{{localize data.description.label}}:</p>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

</form>
