<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" alt="{{localize 'tor1e.traits.details.tech.alt'}}"/>
        <h1><label>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </label></h1>
    </header>
    <div class="sheet-content">
        <p>{{localize data.description.label}}:</p>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
    </div>

</form>
