<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"
             alt="{{localize 'tor1e.weapons.details.tech.alt'}}"/>
        <h1><label>
            <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
        </label></h1>
    </header>
    <div class="sheet-content">
        <table>
            <caption>{{localize "tor1e.weapons.details.tech.caption"}}</caption>
            <tr>
                <th id="damage">{{localize "tor1e.weapons.details.damage"}}</th>
                <th id="edge">{{localize "tor1e.weapons.details.edge"}}</th>
                <th id="injury">{{localize "tor1e.weapons.details.injury"}}</th>
                <th id="encumbrance">{{localize "tor1e.weapons.details.encumbrance"}}</th>
            </tr>
            <tr>
                <td>
                    <label>
                        <input name="data.damage.value" type="text" value="{{data.damage.value}}"
                               data-dtype="{{data.damage.type}}"/>
                    </label>
                </td>
                <td>
                    <label>
                        <input name="data.edge.value" type="text" value="{{data.edge.value}}"
                               data-dtype="{{data.edge.type}}"/>
                    </label>
                </td>
                <td>
                    <label>
                        <input name="data.injury.value" type="text" value="{{data.injury.value}}"
                               data-dtype="{{data.injury.type}}"/>
                    </label>
                </td>
                <td>
                    <label>
                        <input name="data.encumbrance.value" type="text" value="{{data.encumbrance.value}}"
                               data-dtype="{{data.encumbrance.type}}"/>
                    </label>
                </td>
            </tr>
        </table>

        <div class="weapon-details-container">
            <label>{{localize "tor1e.weapons.details.group"}}
                <select name="data.group.value">
                    {{#select data.group.value}}
                        {{#each config.weaponGroups as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>

            <label id="called-shot">{{localize "tor1e.weapons.details.calledShot"}}
                <select name="data.calledShot.value">
                    {{#select data.calledShot.value}}
                        {{#each config.calledShots as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </label>
        </div>

        <label id="notes">{{localize "tor1e.weapons.details.notes"}}
            <input name="data.notes.value" type="text" value="{{data.notes.value}}"
                   data-dtype="{{data.notes.type}}"/>
        </label>

        <p>{{localize "tor1e.weapons.details.description"}}:</p>
        {{editor content=data.description.value target="data.description.value" button=true owner=owner
                 editable=editable}}
    </div>

</form>
