<li class="gear-item item" data-item-id="{{_id}}">
    <div class="header">
        <label for="{{_id}}-node{{@index}}">
            <img src="{{img}}" title="{{name}}" height="32" width="32"
                 alt="{{localize 'tor1e.traits.details.tech.alt'}}"/>
            <span>{{name}}</span>
        </label>

        <p>{{data.damage.value}}</p>
        <p>{{data.edge.value}}</p>
        <p>{{data.injury.value}}</p>
        <p>{{data.encumbrance.value}}</p>
        <a class="item-delete" title=""{{tor1e.sheet.deleteSkill}}>
            <i class="fas fa-trash"></i>
        </a>
    </div>
    <input type="checkbox" id="{{_id}}-node{{@index}}"/>
    <div class="armour-info armour-description">
        <p>{{{data.description.value}}}</p>
    </div>
</li>