<div class="flexcol">

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.combatAttributes.damage
            reference="data.combatAttributes.damage.value"
            secondary-stat=data.combatAttributes.damage.ranged
            secondary-reference="data.combatAttributes.damage.ranged.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.combatAttributes.parry
            reference="data.combatAttributes.parry.value"
            secondary-stat=data.combatAttributes.parry.shield
            secondary-reference="data.combatAttributes.parry.shield.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.combatAttributes.armour
            reference="data.combatAttributes.armour.value"
            secondary-stat=data.combatAttributes.armour.headGear
            secondary-reference="data.combatAttributes.armour.headGear.value"}}

</div>