<div class="state-of-health-item item flexcol" data-item-id="{{_id}}">

    <label for="data.stateOfHealth.weary.value">{{localize data.stateOfHealth.weary.label}}</label>
    <input type="checkbox" id="data.stateOfHealth.weary.value" name="data.stateOfHealth.weary.value"
           data-dtype="{{data.stateOfHealth.weary.type}}" {{checked data.stateOfHealth.weary.value}} />

    <label for="data.stateOfHealth.miserable.value">{{localize data.stateOfHealth.miserable.label}}</label>
    <input type="checkbox" id="data.stateOfHealth.miserable.value" name="data.stateOfHealth.miserable.value"
           data-dtype="{{data.stateOfHealth.miserable.type}}" {{checked data.stateOfHealth.miserable.value}} />

    <label for="data.stateOfHealth.wounded.value">{{localize data.stateOfHealth.wounded.label}}</label>
    <input type="checkbox" id="data.stateOfHealth.wounded.value" name="data.stateOfHealth.wounded.value"
           data-dtype="{{data.stateOfHealth.wounded.type}}" {{checked data.stateOfHealth.wounded.value}} />

</div>