<div class="complex-stat flexrow">
    <div class="main-stat flexcol">
        <label for="data.resources.endurance.value">{{localize data.resources.endurance.label}}</label>
        <div class="main-stat-value">
            <div class="secondary-stat flexrow">
                <label for="data.resources.endurance.rating.value">{{localize data.resources.endurance.rating.label}}</label>
                <input id="data.resources.endurance.rating.value" name="data.resources.endurance.rating.value" type="text"
                       value="{{data.resources.endurance.rating.value}}"
                       data-dtype="{{data.resources.endurance.rating.type}}"/>
            </div>
            <div class="tertiary-stat flexrow">
                <label for="data.resources.endurance.fatigue.value">{{localize data.resources.endurance.fatigue.label}}</label>
                <input id="data.resources.endurance.fatigue.value" name="data.resources.endurance.fatigue.value" type="text"
                       value="{{data.resources.endurance.fatigue.value}}"
                       data-dtype="{{data.resources.endurance.rating.type}}"/>
            </div>
            <input id="data.resources.endurance.value" name="data.resources.endurance.value" type="text"
                   value="{{data.resources.endurance.value}}"
                   data-dtype="{{data.resources.endurance.type}}"/>
        </div>
    </div>
</div>
<div class="complex-stat flexrow">
    <div class="main-stat flexcol">

        <label for="data.resources.hope.value">{{localize data.resources.hope.label}}</label>
        <div class="main-stat-value">
            <div class="secondary-stat flexrow">
                <label for="data.resources.hope.rating.value">{{localize data.resources.hope.rating.label}}</label>
                <input id="data.resources.hope.rating.value" name="data.resources.hope.rating.value" type="text"
                       value="{{data.resources.hope.rating.value}}"
                       data-dtype="{{data.resources.hope.rating.type}}"/>
            </div>
            <div class="tertiary-stat flexrow">
                <label for="data.resources.hope.shadow.value">{{localize data.resources.hope.shadow.label}}</label>
                <input id="data.resources.hope.shadow.value" name="data.resources.hope.shadow.value" type="text"
                       value="{{data.resources.hope.shadow.value}}"
                       data-dtype="{{data.resources.hope.shadow.type}}"/>
            </div>
            <input id="data.resources.hope.value" name="data.resources.hope.value" type="text" value="{{data.resources.hope.value}}"
                   data-dtype="{{data.resources.hope.type}}"/>
        </div>
    </div>
</div>