<div class="skill-groups">

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.personality.value">{{localize data.skillGroups.personality.label}}</label>
        <input id="data.skillGroups.personality.value" name="data.skillGroups.personality.value" type="text"
               value="{{data.skillGroups.personality.value}}"
               data-dtype="{{data.skillGroups.personality.type}}"/>
    </div>

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.movement.value">{{localize data.skillGroups.movement.label}}</label>
        <input id="data.skillGroups.movement.value" name="data.skillGroups.movement.value" type="text" value="{{data.skillGroups.movement.value}}"
               data-dtype="{{data.skillGroups.movement.type}}"/>
    </div>

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.wisdom.value">{{localize data.skillGroups.perception.label}}</label>
        <input id="data.skillGroups.wisdom.value" name="data.skillGroups.perception.value" type="text" value="{{data.skillGroups.perception.value}}"
               data-dtype="{{data.skillGroups.perception.type}}"/>
    </div>

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.survival.value">{{localize data.skillGroups.survival.label}}</label>
        <input id="data.skillGroups.survival.value" name="data.skillGroups.survival.value" type="text" value="{{data.skillGroups.survival.value}}"
               data-dtype="{{data.skillGroups.survival.type}}"/>
    </div>

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.custom.value">{{localize data.skillGroups.custom.label}}</label>
        <input id="data.skillGroups.custom.value" name="data.skillGroups.custom.value" type="text" value="{{data.skillGroups.custom.value}}"
               data-dtype="{{data.skillGroups.custom.type}}"/>
    </div>

    <div class="stat">
        <label class="skill-label" for="data.skillGroups.vocation.value">{{localize data.skillGroups.vocation.label}}</label>
        <input id="data.skillGroups.vocation.value" name="data.skillGroups.vocation.value" type="text" value="{{data.skillGroups.vocation.value}}"
               data-dtype="{{data.skillGroups.vocation.type}}"/>
    </div>

</div>