<div class="flexcol">
    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.awe
                reference="data.commonSkills.awe.value"
                checkbox-reference="data.commonSkills.awe.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.inspire
                reference="data.commonSkills.inspire.value"
                checkbox-reference="data.commonSkills.inspire.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.persuade
                reference="data.commonSkills.persuade.value"
                checkbox-reference="data.commonSkills.persuade.favoured.value"}}
    </div>

    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.athletics
                reference="data.commonSkills.athletics.value"
                checkbox-reference="data.commonSkills.athletics.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.travel
                reference="data.commonSkills.travel.value"
                checkbox-reference="data.commonSkills.travel.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.stealth
                reference="data.commonSkills.stealth.value"
                checkbox-reference="data.commonSkills.stealth.favoured.value"}}
    </div>

    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.awareness
                reference="data.commonSkills.awareness.value"
                checkbox-reference="data.commonSkills.awareness.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.insight
                reference="data.commonSkills.insight.value"
                checkbox-reference="data.commonSkills.insight.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.search
                reference="data.commonSkills.search.value"
                checkbox-reference="data.commonSkills.search.favoured.value"}}
    </div>

    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.explore
                reference="data.commonSkills.explore.value"
                checkbox-reference="data.commonSkills.explore.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.healing
                reference="data.commonSkills.healing.value"
                checkbox-reference="data.commonSkills.healing.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.hunting
                reference="data.commonSkills.hunting.value"
                checkbox-reference="data.commonSkills.hunting.favoured.value"}}
    </div>

    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.song
                reference="data.commonSkills.song.value"
                checkbox-reference="data.commonSkills.song.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.courtesy
                reference="data.commonSkills.courtesy.value"
                checkbox-reference="data.commonSkills.courtesy.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.riddle
                reference="data.commonSkills.riddle.value"
                checkbox-reference="data.commonSkills.riddle.favoured.value"}}
    </div>

    <div class="flexrow">
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.craft
                reference="data.commonSkills.craft.value"
                checkbox-reference="data.commonSkills.craft.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.battle
                reference="data.commonSkills.battle.value"
                checkbox-reference="data.commonSkills.battle.favoured.value"}}
        {{> "systems/tor1e/templates/sheets/actors/components/skill-card.hbs"
                skill=data.commonSkills.lore
                reference="data.commonSkills.lore.value"
                checkbox-reference="data.commonSkills.lore.favoured.value"}}
    </div>

</div>