<section class="biography">

    <div class="flexrow">
        <div class="flexcol">
            <label for="data.biography.culture.value">{{localize data.biography.culture.label}}</label>
            <input id="data.biography.culture.value" name="data.biography.culture.value" type="text" value="{{data.biography.culture.value}}"
                   data-dtype="{{data.biography.culture.type}}"/>
        </div>

        <div class="flexcol">
            <label for="data.biography.standardOfLiving.value">{{localize data.biography.standardOfLiving.label}}</label>
            <select id="data.biography.standardOfLiving.value" name="data.biography.standardOfLiving.value">
                {{#select data.biography.standardOfLiving.value}}
                    {{#each config.standardOfLivingGroups as |name group|}}
                        <option value="{{group}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexcol">
            <label for="data.biography.culturalBlessing.value">{{localize data.biography.culturalBlessing.label}}</label>
            <input id="data.biography.culturalBlessing.value" name="data.biography.culturalBlessing.value" type="text"
                   value="{{data.biography.culturalBlessing.value}}"
                   data-dtype="{{data.biography.culturalBlessing.type}}"/>
        </div>
    </div>


    <div class="flexrow">
        <div class="flexcol">
            <label for="data.biography.calling.value">{{localize data.biography.calling.label}}</label>
            <select id="data.biography.calling.value" name="data.biography.calling.value">
                {{#select data.biography.calling.value}}
                    {{#each config.callingGroups as |name group|}}
                        <option value="{{group}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="flexcol">
            <label for="data.biography.shadowWeakness.value">{{localize data.biography.shadowWeakness.label}}</label>
            <input id="data.biography.shadowWeakness.value" name="data.biography.shadowWeakness.value" type="text"
                   value="{{data.biography.shadowWeakness.value}}" data-dtype="{{data.biography.shadowWeakness.type}}"/>
        </div>
    </div>

</section>