<section class="combat-skills">
    {{#each weaponSkills as |weaponSkill id|}}
        {{> "systems/tor1e/templates/sheets/actors/partials/common/skill-card.hbs" weaponSkill}}
    {{/each}}
</section>