<div class="flexcol">

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.stature.experience
            reference="data.stature.experience.value"
            secondary-stat=data.stature.experience.total
            secondary-reference="data.stature.experience.total.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.stature.valour
            reference="data.stature.valour.value"}}

    {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
            stat=data.stature.wisdom
            reference="data.stature.wisdom.value"}}

</div>