{{log "Adversary" this}}
<form class="{{cssClass}}" autocomplete="off">

    {{> "systems/tor1e/templates/sheets/actors/partials/common/actor-header-card.hbs"}}

    <div class="sheet-content">
        <section class="flexrow" id="resources">
            {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                    stat=data.attributeLevel
                    reference="data.attributeLevel.value"}}
            {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                    stat=data.endurance
                    reference="data.endurance.value"
                    checkbox=data.stateOfHealth.weary
                    checkbox-reference="data.stateOfHealth.weary.value"}}
            {{> "systems/tor1e/templates/sheets/actors/components/stat-circle-card.hbs"
                    stat=data.hate
                    reference="data.hate.value"}}
        </section>
        <section id="defense" class="flexrow">
            {{> "systems/tor1e/templates/sheets/actors/components/complex-stat-circle-card.hbs"
                    stat=data.parry
                    reference="data.parry.value"
                    secondary-stat=shield
                    secondary-stat-value=shield.data.protection.value
                    secondary-css-class="bonus"}}

            <div id="protection" class="main-stat flexcol">
                <div class="complex-stat flexrow">
                    <p class="label">{{localize "tor1e.items.armours.armour"}}
                        <a class="stat-roll" title="{{ localize 'tor1e.sheet.skill.roll' }}"
                           data-action-name="{{localize "tor1e.items.armours.armour"}}"
                           data-action-value-dice="{{armour.data.protection.value}}" data-action-value-bonus="{{headgear.data.protection.value}}"
                           data-action-favoured={{data.armour.favoured.value}}>
                            <i class="fas fa-dice"></i>
                        </a>
                        <label class="favoured" for="data.armour.favoured.value">{{localize "tor1e.actors.skills.favoured"}}
                            <input type="checkbox" id="data.armour.favoured.value" name="data.armour.favoured.value"
                                   data-dtype="{{data.armour.favoured.type}}" {{checked data.armour.favoured.value}} />
                        </label>
                    </p>
                </div>
                {{> "systems/tor1e/templates/sheets/actors/components/complex-item-circle-card.hbs"
                        stat=armour
                        css-class="dice"
                        stat-value=armour.data.protection.value
                        secondary-stat=headgear
                        secondary-stat-value=shield.data.protection.value
                        secondary-css-class="bonus"}}

            </div>
        </section>

        <section>
            <h2>{{localize "tor1e.actors.skills.title"}}</h2>
            {{> "systems/tor1e/templates/sheets/actors/partials/adversary/adversary-skill-card.hbs"}}
        </section>
        <section class="combat-skills">
            <h2>{{localize "tor1e.actors.combatSkills.title"}}</h2>
            <ul class="collapsibleList">
                <div class="flexrow">
                    <p class="table-main-column table-caption">{{localize "tor1e.items.weapons.stats.weapon"}}</p>
                    <p class="table-caption">{{localize "tor1e.items.weapons.stats.rank"}}</p>
                    <p class="table-caption">{{localize "tor1e.items.weapons.stats.damage"}}</p>
                    <p class="table-caption">{{localize "tor1e.items.weapons.stats.edge"}}</p>
                    <p class="table-caption">{{localize "tor1e.items.weapons.stats.injury"}}</p>
                    <p class="table-caption">{{localize "tor1e.items.weapons.stats.actions"}}</p>
                </div>
                {{#each weapons as |weapon id|}}
                    {{> "systems/tor1e/templates/sheets/actors/partials/common/weapon-card.hbs" weapon}}
                {{/each}}
            </ul>
        </section>
        <section class="specialAbilities">
            <h2>{{localize "tor1e.actors.specialAbilities.title"}}</h2>
            <div class="flexrow">
                <ul class="collapsibleList">
                    {{#each leftSpecialAbilities as |specialAbilitie id|}}
                        {{> "systems/tor1e/templates/sheets/actors/partials/adversary/special-ability-card.hbs" specialAbilitie}}
                    {{/each}}
                </ul>
                <ul class="collapsibleList">
                    {{#each rightSpecialAbilities as |specialAbilitie id|}}
                        {{> "systems/tor1e/templates/sheets/actors/partials/adversary/special-ability-card.hbs" specialAbilitie}}
                    {{/each}}
                </ul>
            </div>
        </section>
        <section>
            <h2>{{localize "tor1e.common.description"}}</h2>
            {{editor content=data.description.value target="data.description.value" button=true owner=owner editable=editable}}
        </section>
    </div>
</form>
