<form class="{{cssClass}}" autocomplete="off">

    {{> "systems/tor1e/templates/sheets/actors/partials/common/actor-header-card.hbs"}}

    <div class="sheet-content">
        <div class="header flexrow">
            <div class="central">
                <section id="biography">
                    <h2>{{localize "tor1e.actors.sections.biography"}}</h2>
                    {{> "systems/tor1e/templates/sheets/actors/partials/character/character-biography-card.hbs"}}
                </section>

                <section>
                    <h2>{{localize "tor1e.actors.sections.attributes"}}</h2>
                    {{> "systems/tor1e/templates/sheets/actors/partials/character/character-attributes-card.hbs"}}
                </section>
            </div>
            <div class="sidebar">
                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-attribute-sidebar-card.hbs"}}
            </div>
        </div>

        <div class="skill flexrow">
            <div class="central">
                <h2>{{localize "tor1e.actors.sections.commonSkills"}}</h2>
                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-common-skills-card.hbs"}}
            </div>
            <div class="sidebar">
                <h2>{{localize "tor1e.actors.sections.skillGroups"}}</h2>
                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-skill-groups-card.hbs"}}
            </div>
        </div>

        <div class="flexcol">
            <section id="traits">
                <h2>{{localize "tor1e.actors.sections.traits"}}</h2>
                <div class="flexcol" id="specialities">
                    <h3>{{localize "tor1e.actors.traits.specialities"}}</h3>
                    <ul class="collapsibleList">
                        {{#each specialities as |speciality id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" speciality}}
                        {{/each}}
                    </ul>
                </div>
                <div class="flexcol" id="distinctive-features">
                    <h3>{{localize "tor1e.actors.traits.distinctiveFeatures"}}</h3>
                    <ul class="collapsibleList">
                        {{#each distinctiveFeatures as |distinctiveFeature id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" distinctiveFeature}}
                        {{/each}}
                    </ul>
                </div>
            </section>
        </div>
        <div class="combat flexrow">

            <div class="central">

                <section class="flexcol" id="combat-skills">
                    <h2>{{localize "tor1e.actors.sections.weaponSkills"}}</h2>
                    <ul class="collapsibleList">
                        {{#each weaponSkills as |weaponSkill id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/skill-card.hbs" weaponSkill}}
                        {{/each}}
                    </ul>
                </section>


                <section class="rewards">
                    <h2>{{localize "tor1e.actors.sections.rewards"}}</h2>
                    <ul class="collapsibleList">
                        {{#each rewards as |reward id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" reward}}
                        {{/each}}
                    </ul>
                </section>

                <section class="rewards">
                    <h2>{{localize "tor1e.actors.sections.virtues"}}</h2>
                    <ul class="collapsibleList">

                        {{#each virtues as |virtue id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/common/simple-talent-card.hbs" virtue}}
                        {{/each}}
                    </ul>
                </section>

            </div>

            <div class="sidebar">
                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-combat-attributes-card.hbs"}}
            </div>

        </div>
        <div class="footer flexrow">
            <div class="central">
                <h2>{{localize "tor1e.actors.sections.gear"}}</h2>
                <section class="flexcol" id="weapons">
                    <div class="flexrow">
                        <p></p>
                        <p>{{localize "tor1e.items.weapons.stats.weapon"}} </p>
                        <p>{{localize "tor1e.items.weapons.stats.damage"}} </p>
                        <p>{{localize "tor1e.items.weapons.stats.edge"}} </p>
                        <p>{{localize "tor1e.items.weapons.stats.injury"}} </p>
                        <p>{{localize "tor1e.items.weapons.stats.encumbrance"}} </p>
                        <p></p>
                    </div>
                    <ul class="collapsibleList">
                        {{#each weapons as |weapon id|}}
                            {{> "systems/tor1e/templates/sheets/actors/partials/character/character-weapon-card.hbs" weapon}}
                        {{/each}}
                    </ul>
                </section>
                <div class="flexrow">
                    <section id="armours" class="flexcol">
                        <div class="flexrow">
                            <p></p>
                            <p>{{localize "tor1e.items.armours.armour"}} </p>
                            <p>{{localize "tor1e.items.armours.group"}} </p>
                            <p>{{localize "tor1e.items.armours.protection"}} </p>
                            <p>{{localize "tor1e.items.armours.encumbrance"}} </p>
                            <p></p>
                        </div>
                        <ul class="collapsibleList">
                            {{#each armours as |armour id|}}
                                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-armour-card.hbs" armour}}
                            {{/each}}
                        </ul>
                    </section>
                    {{> "systems/tor1e/templates/sheets/actors/partials/character/character-resources-card.hbs"}}
                </div>
                <div class="combat-sidebar">
                </div>
            </div>
            <div class="state-of-health-sidebar">
                {{> "systems/tor1e/templates/sheets/actors/partials/character/character-state-of-health-card.hbs"}}
            </div>
        </div>

        <section id="background">
            <h2>{{localize "tor1e.actors.sections.background"}}</h2>
            {{editor content=data.hsitory.background.value target="data.hsitory.background.value" button=true owner=owner editable=editable}}
        </section>
        <section id="company">
            <h2>{{localize "tor1e.actors.sections.company"}}</h2>
            {{editor content=data.hsitory.company.value target="data.hsitory.company.value" button=true owner=owner editable=editable}}
        </section>
        <section id="fellowship-phase">
            <h2>{{localize "tor1e.actors.sections.fellowshipPhase"}}</h2>
            {{editor content=data.hsitory.fellowshipPhase.value target="data.hsitory.fellowshipPhase.value" button=true owner=owner
                     editable=editable}}
        </section>
        <section id="tale-of-the-years">
            <h2>{{localize "tor1e.actors.sections.taleOfYears"}}</h2>
            {{editor content=data.hsitory.taleOfYears.value target="data.hsitory.taleOfYears.value" button=true owner=owner editable=editable}}
        </section>
    </div>
</form>
